[storage-potential]

Calculate-Performance-PB = true
Calculate-Performance-PB.type = BooleanParameter
Calculate-Performance-PB.help = True to evaluate the performance of the Battery power bank.
Calculate-Performance-PB.category = Battery Power Bank

PV-Potential-Used = 50
PV-Potential-Used.type = RealParameter
PV-Potential-Used.help = Amount of the PV potential energy used for processing (Percentage).
PV-Potential-Used.category = Battery Power Bank

Power-Capacity = 3.0
Power-Capacity.type = RealParameter
Power-Capacity.help = Electric energy demand per capita (kWh).
Power-Capacity.category = Battery Power Bank

Rated-Voltage = 12.0
Rated-Voltage.type = RealParameter
Rated-Voltage.help = Set the rated voltage of the battery (Vol).
Rated-Voltage.category = Battery Power Bank

Battery-Capacity = 0.2
Battery-Capacity.type = RealParameter
Battery-Capacity.help = Total amount of electricity generated due to electrochemical reactions in the battery (C).
Battery-Capacity.category = Battery Power Bank

Maximum-Discharge = 60.0
Maximum-Discharge.type = RealParameter
Maximum-Discharge.help = Maximum amount that can be discharged from the battery (Percentage).
Maximum-Discharge.category = Battery Power Bank

Conversion-Efficiency = 95.0
Conversion-Efficiency.type = RealParameter
Conversion-Efficiency.help = Energy conversion efficiency of the battery (Percentage).
Conversion-Efficiency.category = Battery Power Bank


Calculate-Performance-SC = true
Calculate-Performance-SC.type = BooleanParameter
Calculate-Performance-SC.help = True to evaluate the performance of the Solar water tank.
Calculate-Performance-SC.category = Solar Water Tank

SC-Potential-Used = 50
SC-Potential-Used.type = RealParameter
SC-Potential-Used.help = Amount of the potential energy used for processing (Percentage).
SC-Potential-Used.category = Solar Water Tank

Water-Capacity = 50
Water-Capacity.type = RealParameter
Water-Capacity.help = Total amount of litres needed per person to be stored for water heating (Kg/person).
Water-Capacity.category = Solar Water Tank

Tank-area = 10
Tank-area.type = RealParameter
Tank-area.help = Overall area of the solar water tank (m2).
Tank-area.category = Solar Water Tank

Heat-capacity = 4.18
Heat-capacity.type = RealParameter
Heat-capacity.help = The amount of heat required to change the temperature of water by one degree (KJ/Kg).
Heat-capacity.category = Solar Water Tank

Inlet-temperature = 15
Inlet-temperature.type = RealParameter
Inlet-temperature.help = Inlet supply temperature of water to the collector (°C).
Inlet-temperature.category = Solar Water Tank

Outlet-temperature = 45
Outlet-temperature.type = RealParameter
Outlet-temperature.help = Outlet demand temperature of water from the collector (°C).
Outlet-temperature.category = Solar Water Tank

Max-temperature = 70
Max-temperature.type = RealParameter
Max-temperature.help = Maximum temperature of the water stored in the collector (°C).
Max-temperature.category = Solar Water Tank

Loss-coefficient = 0.5
Loss-coefficient.type = RealParameter
Loss-coefficient.help = Heat exchange ambient loss coefficient.
Loss-coefficient.category = Solar Water Tank


Calculate-Performance-H2 = true
Calculate-Performance-H2.type = BooleanParameter
Calculate-Performance-H2.help = True to evaluate the production, storage and supply of Hydrogen.
Calculate-Performance-H2.category = Hydrogen Production

H2-Energy-Density = 33.33
H2-Energy-Density.type = RealParameter
H2-Energy-Density.help = Amount of heat released by a specified unit of Hydrogen (kWh/kg).
H2-Energy-Density.category = Hydrogen Production

Electrolyzer-Efficiency = 70.0
Electrolyzer-Efficiency.type = RealParameter
Electrolyzer-Efficiency.help = Operative efficiency of the Electrolyzer (percentage).
Electrolyzer-Efficiency.category = Hydrogen Production

Compressor-Requirement = 8.6
Compressor-Requirement.type = RealParameter
Compressor-Requirement.help = Energy required by compressor per unit of Hydrogen produced (kWh/kg).
Compressor-Requirement.category = Hydrogen Production

Tank-Capacity = 5
Tank-Capacity.type = RealParameter
Tank-Capacity.help = Maximum capacity of the Hydrogen tank in kilograms (Kg).
Tank-Capacity.category = Hydrogen Production

Fuel-Cell-Efficiency = 65.0
Fuel-Cell-Efficiency.type = RealParameter
Fuel-Cell-Efficiency.help = Operative efficiency of the Fuel Cell (percentage).
Fuel-Cell-Efficiency.category = Hydrogen Production