[battery-bank]

buildings =
buildings.type = BuildingsParameter
buildings.help = List of buildings to create schedules for (leave blank to consider all)

Rated-Voltage = 12.0
Rated-Voltage.type = RealParameter
Rated-Voltage.help = Set the rated voltage of the battery (Vol).

C-rate = 0.6
C-rate.type = RealParameter
C-rate.help = Total amount of electricity generated due to electrochemical reactions in the battery (C).

Depth-of-Discharge = 60.0
Depth-of-Discharge.type = RealParameter
Depth-of-Discharge.help = Maximum amount that can be discharged from the battery (Percentage).

Conversion-Efficiency = 95.0
Conversion-Efficiency.type = RealParameter
Conversion-Efficiency.help = Energy conversion efficiency of the battery (Percentage).

Incremental-step = 1.0
Incremental-step.type = RealParameter
Incremental-step.help = Increase step to calculate optimal bank size (kWh).
Incremental-step.category = Bank size optimization

Slope-Curve = 1.0
Slope-Curve.type = RealParameter
Slope-Curve.help = Elasticity tolerance to calculate optimal bank size (Percentage).
Slope-Curve.category = Bank size optimization

[water-tank]

buildings =
buildings.type = BuildingsParameter
buildings.help = List of buildings to create schedules for (leave blank to consider all)

Collector-Type = FP
Collector-Type.type = ChoiceParameter
Collector-Type.choices = FP, ET
Collector-Type.help = Type of solar collector: "FP" (Flat-plate) or "ET" (Evacuated-tubes).

Heat-capacity = 4.18
Heat-capacity.type = RealParameter
Heat-capacity.help = The amount of heat required to change the temperature of water by one degree (KJ/Kg).

Minimum-Inlet-Temp = 0
Minimum-Inlet-Temp.type = RealParameter
Minimum-Inlet-Temp.help = Minimum inlet temperature of water into the tank (°C).

Supply-Temperature = 45
Supply-Temperature.type = RealParameter
Supply-Temperature.help = Outlet demand temperature of water from the collector (°C).

Maximum-temperature = 70
Maximum-temperature.type = RealParameter
Maximum-temperature.help = Maximum temperature of water stored in the tank (°C).

Loss-coefficient = 0.5
Loss-coefficient.type = RealParameter
Loss-coefficient.help = Heat exchange ambient loss coefficient.

Incremental-step = 10.0
Incremental-step.type = RealParameter
Incremental-step.help = Increase step to calculate optimal bank size (kWh).
Incremental-step.category = Water Tank optimization

Slope-Curve = 1.0
Slope-Curve.type = RealParameter
Slope-Curve.help = Elasticity tolerance to calculate optimal bank size (Percentage).
Slope-Curve.category = Water Tank optimization

[hydrogen-tank]

buildings =
buildings.type = BuildingsParameter
buildings.help = List of buildings to create schedules for (leave blank to consider all)

electric-source = E_PV_gen_kWh
electric-source.type = ChoiceParameter
electric-source.choices = E_PV_gen_kWh, E_sld_grid_kWh
electric-source.help = Select source of electricity: from PV panels (E_PV_gen_kWh) or released due to lack of space (E_sld_grid_kWh).

Energy-Density = 33.33
Energy-Density.type = RealParameter
Energy-Density.help = Amount of heat released by a specified unit of water (kWh/kg).

Electrolyzer-Efficiency = 70.0
Electrolyzer-Efficiency.type = RealParameter
Electrolyzer-Efficiency.help = Operative efficiency of the Electrolyzer (percentage).

Compressor-Requirement = 8.6
Compressor-Requirement.type = RealParameter
Compressor-Requirement.help = Energy required by the compressor per unit of Hydrogen produced (kWh/kg).

Fuel-Cell-Efficiency = 65.0
Fuel-Cell-Efficiency.type = RealParameter
Fuel-Cell-Efficiency.help = Operative efficiency of the Fuel Cell (percentage).

Vehicle-occupancy = 1.5
Vehicle-occupancy.type = RealParameter
Vehicle-occupancy.help = Regional average number of occupants in a vehicle.
Vehicle-occupancy.category = Fuel Cell Vehicles

Fuel-Economy = 200
Fuel-Economy.type = RealParameter
Fuel-Economy.help = Average kilometres travelled per Kilogram of H2 (Km/kg).
Fuel-Economy.category = Fuel Cell Vehicles

Vehicle-Km-Travelled = 18
Vehicle-Km-Travelled.type = RealParameter
Vehicle-Km-Travelled.help = Average daily distance travelled per vehicle (Km/day).
Vehicle-Km-Travelled.category = Fuel Cell Vehicles

Carbon-Emissions = 0.269
Carbon-Emissions.type = RealParameter
Carbon-Emissions.help = Emission rate of carbon dioxide per kilometer travelled (Kg/Km).
Carbon-Emissions.category = Fuel Cell Vehicles

[smart-community]

Test = 0
Test.type = RealParameter
Test.help = test parameter